{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}

<header id="One">

    <nav class="navbar d-flex justify-content-between fixed-top navbar-expand-lg m-0 p-0">

        <h1 class="navbar-brand col-4 col-md-3 col-lg-2 col-xl-1 m-0 py-0" aria-expanded="true" href="http://emaus.rzeszow.pl/">
            <a href="/">
                <img class="d-block w-75" src="img/logo/logo-menu-white.png" alt="Transmisja nabożeństw">
            </a>
        </h1>

        <button class="navbar-toggler custom-toggler px-1 py-0 m-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon p-4 p-md-4"></span>
    </button>

        <div class="collapse navbar-collapse col-12 col-lg-9 col-xl-6  m-0 p-0" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex justify-content-between col-12 m-0 p-0">
                {% for item in menu %}
                <li class="nav-item col-12 col-lg-3 d-flex justify-content-center p-0">
                    <a class="nav-link text-uppercase text-white hover p-4 p-lg-0" href="{{item.href }}">{{item.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <picture>
                    <source media="(max-width:600px)" srcset="img/main/1s.jpg">
                    <img class="d-block w-100" src="img/main/1.jpg" alt="Transmisja nabożeństw">
                </picture>
            </div>
            <div class="carousel-item">
                <picture>
                    <source media="(max-width:600px)" srcset="img/main/2s.jpg">
                    <img class="d-block w-100" src="img/main/2.jpg" alt="Nabożeńśtwa niedzielne: 10.00 oraz środowe: 18.00">
                </picture>
            </div>
            <div class="carousel-item">
                <picture>
                    <source media="(max-width:600px)" srcset="img/main/3s.jpg">
                    <img class="d-block w-100" src="img/main/3.jpg" alt="Spotkania Modlitewne">
                </picture>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="swiper-button-prev swiper-button-white pl-4" aria-hidden="true"></span>
            <span class="sr-only">Poprzedni</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="swiper-button-next swiper-button-white pr-4" aria-hidden="true"></span>
            <span class="sr-only">Następny</span>
        </a>
    </div>
</header>
<main>
    <section class="first d-flex flex-wrap" id="One">
        <div class="welcome col-12 col-lg-6 px-0 py-2 d-flex flex-wrap">
            <a href="#"  class="w-100" title="Czytaj dalej">
                
                <div class="welcome-img col-12 d-flex justify-content-center align-items-end ">
                    <img src="img/logo/logo-white.png" alt="Logo zboru">                    
                </div>
                
                <div class="welcome-text col-12 text-white text-decoration-none d-flex flex-wrap justify-content-center align-content-start text-center">
                    <p class="w-100">WITAJ</p>
                    <p class="col-9">Miło nam, że możemy Cię tutaj powitać. <br>Jesteśmy społecznością ludzi wierzących w Jezusa Chrystusa...</p>
                </div>

            </a>
        </div>

        <div class="news col-12 col-lg-6">
            
            <h2 class="main-h2 w-100 text-center">Aktualności</h2>
            
            <!-- Swiper -->
            <div class="swiper-container d-flex wrap m-auto col-10">

                <div class="swiper-wrapper ">
                    {% for post in news %}
                    <div class="swiper-slide">
                        <div class="card col-9 my-3 p-0">
                            <a href='{{post.href}}' class='text-dark'>
                                <img class="card-img-top" src="{{post.img}}" alt="{{post.alt}}">
                                <div class="card-body text-left">
                                    <h3 class="card-title">{{post.title}}</h3>
                                    <p class="card-text">{{post.postOne}}</p>
                                    <p class="card-text">{{post.postTwo}}</p>
                                    <p class="card-text">{{post.postThree}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>

    </section>
    <section class="about col-12 d-flex flex-wrap p-0" id="Two">
        <div class="abou-one col-12 col-md-6 col-lg-3 p-0">
            <a href="/wyznanie-wiary">
                <figure>
                    <img class="d-block w-100 p-0" src="img/about/1.jpg" alt="">
                    <figcaption>Wyznanie wiary</figcaption>  
                </figure>
                <div class="about-one-overlay"></div> 
            </a>
        </div>
        <div class="abou-one col-12 col-md-6 col-lg-3 p-0">
            <a href="/porownanie-wyznan">
                <figure>
                    <img class="d-block w-100 p-0" src="img/about/2.jpg" alt="">
                    <figcaption>Porównanie wyznań</figcaption> 
                </figure>  
                <div class="about-one-overlay"></div> 
            </a>
        </div>
        <div class="abou-one col-12 col-md-6 col-lg-3 p-0">
            <a href="/historia">
                <figure>
                    <img class="d-block w-100 p-0" src="img/about/3.jpg" alt="">
                    <figcaption>Historia</figcaption>  
                </figure>  
                <div class="about-one-overlay"></div>
            </a>
        </div>
        <div class="abou-one col-12 col-md-6 col-lg-3 p-0">
            <a href="/akty-prawne">
                <figure>
                    <img class="d-block w-100 p-0" src="img/about/4.jpg" alt="">
                    <figcaption>Akty prawne</figcaption>  
                </figure>
                <div class="about-one-overlay"></div> 
            </a>
        </div>   
        
    </section>
    <section class="meet d-flex flex-wrap justify-content-center" id="Three">
        
        <h2 class="main-h2 w-100 text-center">Nasze spotkania</h2>
        
        {% for meet in meetings %}
        <label class="card-label col-12 col-md-6 col-lg-4 col-xl-3 my-0">
            <input type="checkbox"  />
            <div class="card-x">
                <div class="front">
                    <h3>{{meet.name}}</h3>
                    <p>{{meet.time}}</p>
                    <p>{{meet.place}}</p>
                    <p class="more-paragraph">więcej</p>
                </div>
                <div class="back">
                    <p>{{meet.text}} <a href="{{meet.href}}">{{meet.hrefText}}</a></p>
                </div>
            </div>
        </label>
         {% endfor %} 

    </section>

    <section class="contact d-flex flex-wrap text-white" id="Four">
        <h2 class="main-h2 w-100 text-center">Kontakt</h2>
        
        <div class="contact-one col-12 col-lg-6 d-flex flex-wrap justify-content-center pb-5">
            
            <h3 class="w-100 text-center pb-5 pb-lg-0">Skontaktuj się z nami</h3>
                
            <div id="email_ok" class="alert alert-success d-none">
                <strong>Sukces</strong> E-mail został wysłany dziękujemy 
            </div>
            <div id="email_error" class="alert alert-danger d-none">
                <strong>Uwaga</strong> Upewnij się że wszystkie pola formularza zostały wypełnione prawidłowo
            </div>

            <form action="mail.php" method="post" name="contactform" class="col-12 col-md-9 col-lg-8 d-flex flex-wrap justify-content-start align-items-start px-0">
            
            <div class="form-group col-12" >
                 <input type="text" class="form-control" name="name" placeholder="Imię">
            </div>
            <div class="form-group col-12" >
                 <input type="text" class="form-control" name="email" placeholder="Twój e-mail">
            </div>
            <div class="form-group col-12 d-none" >
                 <input type="text" class="form-control" name="surname" placeholder="Zostaw puste" class="">
            </div> 
             <div class="form-group col-12" >
                 <input type="text" class="form-control" name="subject" placeholder="Temat">
            </div>
            <div class="form-group col-12">
                <textarea name="message" class="form-control" placeholder="Wiadomość"></textarea>
            </div>

            <button type="submit" name="submit" class="btn btn-secondary px-3 mx-3">Wyślij wiadomość</button>
            
            </form>
    
        </div>
        
        <div class="contact-two col-12 col-lg-6 d-flex flex-wrap justify-content-center">
            <h3 class="w-100 text-center">Kościół Zielonoświątkowy Zbór Emaus w Rzeszowie</h3>
            <p class="w-100 text-center">ul. Dąbrowskiego 1A, 35-036 Rzeszów</p>
            <p class="w-100 text-center">Telefon: 17 85 29 641</p>
            <p class="w-100 text-center">E-mail: <a href="mailto:emausrz@gmail.com">emausrz@gmail.com</a></p>
            <p class="w-100 text-center pb-5">Facebook: <a href="https://pl-pl.facebook.com/Ko%C5%9Bci%C3%B3%C5%82-Zielono%C5%9Bwi%C4%85tkowy-Zb%C3%B3r-Emaus-w-Rzeszowie-159801290724840/">www.facebook.com/KZ-Emaus-Rzeszów/</a></p>

            <p class="w-100 text-center">Konto bankowe</p>
            <p class="w-100 text-center">Bank PKO S.A.</p>
            <p class="w-100 text-center">I O. w Rzeszowie</p>
            <p class="w-100 text-center">Nr 51 1240 1792 1111 0000 1973 9791</p>
            <p class="w-100 text-center">NIP: 8131445511</p>
            <p class="w-100 text-center pb-5">REGON: 690336926</p>
        </div>

    </section>

    
    {# <div id="map"></div> #}


</main>

{% endblock %}